body {
  font-family: Arial, sans-serif;
  background-image:url(fundo.jpg);
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.navbar {
  background-color: #333; /* Cinza escuro */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff; /* Branco */
}

.nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #b42020; /* Vermelho */
}

.container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 1rem;
}

.container a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.item-container {
  margin-bottom: 2rem;
  padding: 1rem;
  background-image:url(fundo.jpg);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
}